@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the default scrollbar */
body {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #3b82f6;
    border-radius: 6px;
}

/* Optional: Add hover styles */
::-webkit-scrollbar-thumb:hover {
    background-color: #000;
    transition-duration: 150ms;
}